<!DOCTYPE html>
<html lang="en" class="dark">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certificate | Your Organization</title>
    <link rel="icon" type="image/x-icon"
      href="https://raw.githubusercontent.com/ACES-RMDSSOE/Website/main/images/favicon.ico" />
    <script src="https://cdn.tailwindcss.com" rel="preload"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="template.css" />
    <link rel="stylesheet" href="gateway.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.10.3/cdn.js"></script>
  </head>

  <body
    class="flex flex-col justify-center dark:text-[#ceced2] items-center min-h-svh xl:text-[28px] lg:text-[26px] md:text-[22px] text-[18px] bg-[#eee] dark:bg-[#272727] relative">
    <main class="md:w-1/2 lg:w-1/3 2xl:w-1/4">
      <header class="flex flex-col items-center justify-center mb-6 "></header>
      <!-- <hr class="border-neutral-300 block mb-8 lg:mx-16" /> -->
      <div class="flex justify-center relative text-base min-w-1/2 mx-8">
        <input type="text" id="search-input" placeholder="Search..." class="mb-8 py-2 px-4 rounded mx-8">
        <i class="fa-solid fa-search absolute right-12 top-[28%] transform -translate-y-1/2 text-gray-500"></i>
      </div>
      <article class="container mx-auto px-4">
        <section class="grid gap-8 mx-auto w-full items-center text-sm md:text-md" x-data="{selected:0}">
          <!-- Column 1 -->
          <ul class="flex flex-col gap-y-5" id="listwrap">
            <li class="relative border rounded dark:border-zinc-600">
              <button type="button" class="w-full px-5 py-4 text-left faqbtn"
                @click="selected !== 1 ? selected = 1 : selected = null">
                <header class="flex items-center justify-between text-lg md:text-xl font-semibold">
                  <b class="numcircle shadow bg-blue-500/40 border-sky-600/60 border">1</b>
                  <span class="pe-4"> Details not being recognized.</span>
                  <svg :class="{'transform rotate-180' : selected == 1}" class="w-5 h-5 text-gray-500" fill="none"
                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path d="M19 9l-7 7-7-7"></path>
                  </svg>
                </header>
              </button>
              <section class="relative overflow-hidden transition-all max-h-0 duration-700" x-ref="container1"
                x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''">
                <div class="px-6 pb-6"> Firstly, do make sure the details you have put have no typos. Even then if you
                  are getting errors please ensure there are no extra whitespaces (Except at end which don't matter). If
                  you have accounted for that as well then we may have not saved your details properly, in that case
                  please contact us via any platform or <a href="mailto:">mail us</a>. We will resolve your issue ASAP.
                </div>
              </section>
            </li>
            <li class="relative border rounded dark:border-zinc-600">
              <button type="button" class="w-full px-5 py-4 text-left faqbtn"
                @click="selected !== 2 ? selected = 2 : selected = null">
                <header class="flex items-center justify-between text-lg md:text-xl font-semibold">
                  <b class="numcircle shadow bg-blue-500/40 border-sky-600/60 border">2</b>
                  <span class="pe-4"> "Error generating certificate" </span>
                  <svg :class="{'transform rotate-180' : selected == 2}" class="w-5 h-5 text-gray-500 inline-block"
                    fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path d="M19 9l-7 7-7-7"></path>
                  </svg>
                </header>
              </button>
              <section class="relative overflow-hidden transition-all max-h-0 duration-700" x-ref="container2"
                x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''">
                <div class="px-6 pb-6"> If you come across this error then it could mean a few things, all of which are
                  related to us. This error arises primarily because of a server-side issue. Therefore, it could mean
                  there is some WIP or some mishaps on our end. Regardless, feel free to try in sometime or reach out to
                  us via any of the platforms or <a href="mailto:">mail us</a>. We will look into it and fix it ASAP.
                </div>
              </section>
            </li>
          </ul>
        </section>
      </article>
    </main>
    <footer class="flex flex-row gap-x-4 items-center justify-center mt-auto pt-8 pb-2">
      <button id="theme-toggle" class="aspect-square inline-block w-5 md:w-6 pt-px">
        <svg class="dark:hidden" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <path class="fill-black"
            d="M7 0h2v2H7zM12.88 1.637l1.414 1.415-1.415 1.413-1.413-1.414zM14 7h2v2h-2zM12.95 14.433l-1.414-1.413 1.413-1.415 1.415 1.414zM7 14h2v2H7zM2.98 14.364l-1.413-1.415 1.414-1.414 1.414 1.415zM0 7h2v2H0zM3.05 1.706 4.463 3.12 3.05 4.535 1.636 3.12z" />
          <path class="fill-black" d="M8 4C5.8 4 4 5.8 4 8s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4Z" />
        </svg>
        <svg class="hidden dark:block" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <path class="fill-white"
            d="M6.2 1C3.2 1.8 1 4.6 1 7.9 1 11.8 4.2 15 8.1 15c3.3 0 6-2.2 6.9-5.2C9.7 11.2 4.8 6.3 6.2 1Z" />
          <path class="fill-white"
            d="M12.5 5a.625.625 0 0 1-.625-.625 1.252 1.252 0 0 0-1.25-1.25.625.625 0 1 1 0-1.25 1.252 1.252 0 0 0 1.25-1.25.625.625 0 1 1 1.25 0c.001.69.56 1.249 1.25 1.25a.625.625 0 1 1 0 1.25c-.69.001-1.249.56-1.25 1.25A.625.625 0 0 1 12.5 5Z" />
        </svg>
      </button>
      <p class="dark:text-white text-black"> &copy; 2024 Your Organization. All rights reserved. </p>
    </footer>
    <div id="loaderwrap"
      class="fixed h-lvh text-4xl w-full flex items-center justify-center z-50 inset-0 bg-[#eee] dark:bg-[#272727]">
      <div class="loader"></div>
    </div>
  </body>
  <script src="util.js"></script>
  <script>
    const headerHTML = createHeader("FAQs", "Got some questions?", "https://raw.githubusercontent.com/MadhurJ20/Invoice/master/assets/ACES_Logo.png");
    document.getElementsByTagName('header')[0].innerHTML = headerHTML;

    const searchInput = document.getElementById('search-input');
    const links = document.getElementById('listwrap');
    searchInput.addEventListener('input', () => {
      const searchTerm = searchInput.value.toLowerCase();
      const items = links.getElementsByTagName('li');

      for (let item of items) {
        const textContent = item.textContent.toLowerCase();
        if (textContent.includes(searchTerm)) {
          item.style.display = ''; // Show item
        } else {
          item.style.display = 'none'; // Hide item
        }
      }
    });

    document.addEventListener("DOMContentLoaded", function () {
      const loaderWrap = document.getElementById('loaderwrap');
      loaderWrap.style.display = 'flex';
      setTimeout(() => {
        loaderWrap.style.display = 'none';
      }, 250);
    });
  </script>

</html>