<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certificate | Your Organization</title>
    <link rel="icon" type="image/x-icon"
      href="https://raw.githubusercontent.com/ACES-RMDSSOE/Website/main/images/favicon.ico" />
    <script src="https://cdn.tailwindcss.com" rel="preload"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="template.css" />
  </head>

  <body
    class="flex flex-col justify-center items-center min-h-svh xl:text-[28px] lg:text-[26px] md:text-[22px] text-[18px] bg-[#eee] relative dark:bg-[#272727] dark:text-[#ceced2]">
    <main>
      <header class="flex flex-col justify-center items-center mb-6">
      </header>
      <a href="/faqs" class="text-center block relative top-2 z-50 text-base"><span
          class="bg-[#eee] dark:bg-[#22232a] px-2">FAQs</span></a>
      <hr class="border-neutral-500 dark:border-neutral-300 block mb-8 lg:mx-16" />
      <form action="/GitHub_101" method="POST"
        class="flex flex-col p-5 mt-8 rounded border-2 border-[#aaa4] bg-[#EBECF0] dark:bg-[#2D2D2D] w-[12.5em] lg:w-[17.5em] items-center justify-center relative">
        <label for="name" class="text-center color-[#61677C] tracking-wide text-[.75em]"
          style="font-variant: small-caps">Enter Your Name</label>
        <input type="text" id="name" name="name"
          class="block bg-transparent dark:bg-[#2D2D2D] outline-none border-none rounded-lg py-2 px-3 my-3 lg:text-[.75em] text-[.75em]"
          placeholder="e.g. Harry Potter" />
        <button type="submit"
          class="bg-transparent text-[#61677C] dark:text-[#ceced2] hover:dark:text-white text-base xl:text-lg border-none font-extrabold px-4 py-2 rounded my-4 outline-none flex tracking-wide small-caps">
          Submit </button>
        <label for="feedback" class="text-center color-[#61677C] tracking-wide text-[.75em] small-caps">Feedback
          (Optional) </label>
        <textarea id="feedback" name="feedback" maxlength="128"
          class="block bg-transparent dark:bg-[#2D2D2D] outline-none border-none rounded-lg py-2 px-3 my-3 lg:text-[.75em] text-[.75em]"
          placeholder="Your feedback here..."></textarea>
        <span id="charCount" class="text-sm absolute bottom-10 right-8">0 / 128</span>
      </form>
    </main>
    <section
      class="mt-6 lg:text-[.75em] md:text-[.8em] text-base p-2 w-[20em] lg:w-[25em] text-justify lg:mb-8 md:mb-8"> We
      hope you enjoyed the session! If you face any issues or have any questions you may contact one of the admins in
      the WhatsApp Community or <a href="mailto:rmdssoe.aces@sinhgad.edu" class="underline">mail us</a>. </section>
    <footer class="flex flex-row gap-x-4 items-center justify-center mt-auto pt-8 pb-2">
      <button id="theme-toggle" class="aspect-square inline-block w-5 md:w-6 pt-px">
        <svg class="dark:hidden" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <path class="fill-black"
            d="M7 0h2v2H7zM12.88 1.637l1.414 1.415-1.415 1.413-1.413-1.414zM14 7h2v2h-2zM12.95 14.433l-1.414-1.413 1.413-1.415 1.415 1.414zM7 14h2v2H7zM2.98 14.364l-1.413-1.415 1.414-1.414 1.414 1.415zM0 7h2v2H0zM3.05 1.706 4.463 3.12 3.05 4.535 1.636 3.12z" />
          <path class="fill-black" d="M8 4C5.8 4 4 5.8 4 8s1.8 4 4 4 4-1.8 4-4-1.8-4-4-4Z" />
        </svg>
        <svg class="hidden dark:block" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
          <path class="fill-white"
            d="M6.2 1C3.2 1.8 1 4.6 1 7.9 1 11.8 4.2 15 8.1 15c3.3 0 6-2.2 6.9-5.2C9.7 11.2 4.8 6.3 6.2 1Z" />
          <path class="fill-white"
            d="M12.5 5a.625.625 0 0 1-.625-.625 1.252 1.252 0 0 0-1.25-1.25.625.625 0 1 1 0-1.25 1.252 1.252 0 0 0 1.25-1.25.625.625 0 1 1 1.25 0c.001.69.56 1.249 1.25 1.25a.625.625 0 1 1 0 1.25c-.69.001-1.249.56-1.25 1.25A.625.625 0 0 1 12.5 5Z" />
        </svg>
      </button>
      <p class="dark:text-white text-black"> &copy; 2024 Your Organization. All rights reserved. </p>
    </footer>
    <div id="toast-container" class="toast-container fixed bottom-4 right-4 text-sm"></div>
    <!-- <aside id="links" class="absolute"></aside> -->
  </body>
  <script src="util.js"></script>
  <script>
    const headerHTML = createHeader("Certificate", "Github 101", "images/ACES_Logo.png");
    document.getElementsByTagName('header')[0].innerHTML = headerHTML

    const feedbackInput = document.getElementById('feedback');
    const charCount = document.getElementById('charCount');

    feedbackInput.addEventListener('input', function () {
      const currentLength = feedbackInput.value.length;
      charCount.textContent = `${currentLength} / 128`;
    });
  </script>

</html>