<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certificate | Your Organization</title>
    <link rel="icon" type="image/x-icon"
      href="https://raw.githubusercontent.com/ACES-RMDSSOE/Website/main/images/favicon.ico" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="template.css" />
  </head>

  <body
    class="flex flex-col justify-center items-center min-h-svh xl:text-[28px] lg:text-[26px] md:text-[22px] text-[18px] bg-[#eee] relative">
    <main>
      <header class="flex flex-col justify-center items-center mb-6">
        <div id="avatar">
          <a href="https://aces-rmdssoe.tech"><img
              src="https://raw.githubusercontent.com/MadhurJ20/Invoice/master/assets/ACES_Logo.png" alt="ACES Logo"
              border="0" class="w-[3em] h-[3em] rounded-[50%] mt-3" /></a>
        </div>
        <h1 class="xl:text-5xl md:text-4xl text-3xl font-bold pt-4 pb-3">
          <a href="/">Certificate</a>
        </h1>
        <h2>Git & GitHub 101 Workshop</h2>
        <section id="header-icons">
          <a href="https://github.com/ACES-RMDSSOE" target="_blank" class="text-[1.25em] hover:text-[#6e5494]"><i
              class="fa-brands fa-github"></i></a>
          <a href="https://www.linkedin.com/company/aces-rmdssoe/" target="_blank"
            class="text-[1.25em] hover:text-[#0a66c2]"><i class="fa-brands fa-linkedin"></i></a>
          <a href="https://www.instagram.com/aces_rmdssoe" target="_blank" class="text-[1.25em] hover:text-[#c13584]"><i
              class="fa-brands fa-instagram"></i></a>
          <a href="https://chat.whatsapp.com/JMnbIm2k3cXAuj9zt38Xbx" target="_blank"
            class="text-[1.25em] hover:text-[green]"><i class="fa-brands fa-whatsapp"></i></a>
          <a href="https://aces-rmdssoe.tech" target="_blank" class="text-[1.25em] hover:text-[#444]"><i
              class="fa-solid fa-globe"></i></a>
        </section>
      </header>
      <hr class="md:hidden" />
      <form action="/GitHub_101" method="POST"
        class="flex flex-col p-5 mt-8 rounded border-2 border-[#aaa4] bg-[#EBECF0] w-[12.5em] lg:w-[17.5em] items-center justify-center">
        <label for="name" class="text-center color-[#61677C] tracking-wide text-[.75em]"
          style="font-variant: small-caps">Enter Your Name</label>
        <input type="text" id="name" name="name"
          class="block bg-transparent outline-none border-none rounded-lg py-2 px-3 my-3 lg:text-[.75em] text-[.75em]"
          placeholder="e.g. Harry Potter" />
        <button type="submit"
          class="bg-transparent text-[#61677C] text-base xl:text-lg border-none font-extrabold px-4 py-2 rounded mt-4 outline-none flex tracking-wide"
          style="font-variant: small-caps"> Submit </button>
      </form>
    </main>
    <section
      class="mt-6 lg:text-[.75em] md:text-[.8em] text-base p-2 w-[20em] lg:w-[25em] text-justify lg:mb-8 md:mb-8"> We
      hope you enjoyed the session! If you face any issues or have any questions you may contact one of the admins in
      the WhatsApp Community or <a href="mailto:rmdssoe.aces@sinhgad.edu" class="underline">mail us</a>. </section>
    <footer class="flex flex-col justify-center items-center mt-auto">
      <p>&copy; 2024 Your Organization. All rights reserved.</p>
    </footer>
    <aside id="links" class="absolute"></aside>
  </body>

</html>