/* @import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Oswald:wght@200..700&family=DM+Sans&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Oswald:wght@200..700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2 {
  font-family: "Oswald";
}

#header-icons {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: center;
  margin-top: 0.5em;
  scrollbar-width: none;

  & i {
    padding: 0.1em 0;
  }
}

.dark input,
.dark select {
  background-color: hsl(233, 8%, 18%);
  border-radius: 8px;
  box-shadow:
    inset 2px 2px 4px rgba(0, 0, 0, 0.6),
    inset -2px -2px 4px rgba(255, 255, 255, 0.2);
  outline: none;
  border: none;
}

.dark input:focus {
  box-shadow:
    inset 2px 2px 3px rgba(0, 0, 0, 0.6),
    inset -2px -2px 3px rgba(255, 255, 255, 0.1);
  outline: none !important;
  border: none;
}

.dark button:not(#theme-toggle):not(.faqbtn) {
  background-color: #2d2d2d;
  border-radius: 8px;
  box-shadow: 6px 6px 8px #212121,
    -6px -6px 8px #393939;
}

.dark button:not(#theme-toggle):not(.faqbtn):hover {
  box-shadow: 4px 4px 6px #212121,
    -4px -4px 6px #393939;
}

.dark button:not(#theme-toggle):not(.faqbtn):active {
  box-shadow:
    inset 2px 2px 6px rgba(0, 0, 0, 0.6),
    inset -2px -2px 6px rgba(255, 255, 255, 0.2);
}


input,
select {
  display: block;
  appearance: none;
  width: 100%;
  border-radius: 30px;
  box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none
}

input:focus {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
  outline: none !important;
  border: none;
}

button:not(#theme-toggle):not(.faqbtn) {
  box-shadow: 3px 3px 5px #babecc, -4px -4px 10px #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  pointer-events: all;
}

button:not(#theme-toggle):not(.faqbtn):hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

button:not(#theme-toggle):not(.faqbtn):active {
  box-shadow: inset 2px 2px 3px #babecc, inset -2px -2px 3px #fff;
}

body {
  font-family: "Barlow Condensed";
}

.small-caps {
  font-variant: small-caps;
}

.toast {
  background-color: #eee;
  padding: 1rem;
  margin-bottom: .5rem;
  border-radius: .25rem;
}

b.numcircle {
  border-radius: 0.25rem;
  display: inline-block; 
  text-align: center; 
  font-size: 0.75rem; 
  width: 1.25rem; 
  height: 1.25rem; 
  margin-right: 0.75rem;
  position: relative;
  line-height: 1.5; 
  top: 1px; 
  /*rounded inline-block text-center text-xs border w-5 h-5 mr-3 leading-normal relative top-px*/
}

.loader {
  border-right: 0.1em solid currentcolor;
  border-radius: 100%;
  animation: loader 800ms linear infinite;
}

.loader::before, .loader::after {
  content: "";
  width: 0.8em;
  height: 0.8em;
  display: block;
  position: absolute;
  top: calc(50% - .4em);
  left: calc(50% - .4em);
  border-left: 0.08em solid currentcolor;
  border-radius: 100%;
  animation: loader 400ms linear infinite reverse;
}

.loader::after {
  width: 0.6em;
  height: 0.6em;
  top: calc(50% - .3em);
  left: calc(50% - .3em);
  border: 0;
  border-right: 0.05em solid currentcolor;
  animation: none;
}

@keyframes loader {
  from { transform: rotate(360deg); }
  to { transform: rotate(0deg); }
}